<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />

<!-- Describe task in general -->

<p style="text-align: justify;">
    Dodatnie liczby całkowite można podzielić na sumy różnych sześcianów dodatnich liczb całkowitych, czasami na wiele różnych sposobów. Państwa funkcja powinna znaleźć i zwrócić malejącą {% if is_js %}tablicę{% else %}listę{% endif %} różnych sześcianów, których suma jest równa podanej dodatniej liczbie całkowitej <b>n</b>. Jeśli nie można wyrazić <b>n</b> jako sumy różnych sześcianów, proszę zwrócić <b>{% if is_js %}null{% else %}None{% endif %}</b>.
</p>
<p>
    Jeśli <b>n</b> pozwala na kilka podziałów na sumy różnych sześcianów, funkcja musi zwrócić leksykograficznie najwyższe rozwiązanie, które zaczyna się od największej możliwej pierwszej liczby, a następnie leksykograficznie najwyższą reprezentację reszty liczby <b>n-a*a*a</b>. Na przykład, wywołana z <b>n = 1729</b>, funkcja ta powinna zwrócić <b>[12, 1]</b> zamiast <b>[10, 9]</b>. 
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>Wejście:</strong> Dodatnia liczba całkowita <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Wyjście:</strong> {% if is_js %}Tablica{% else %}Lista{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> liczb całkowitych <span>({% if is_js %}number{% else %}int{% endif %})</span> lub <span>{% if is_js %}null{% else %}None{% endif %}</span>. 
</p>


<p>
    <strong>Przykłady:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Warunek wstępny:</strong>
    <ul>
    <li><i>n &gt; 0</i>.</li>
    </ul>
</p>

<p><i>Misja została zaczerpnięta z <span>Python CCPS 109</span>. Jest ona nauczana dla <span>Ryerson Chang School of Continuing Education</span> przez <a href="https://github.com/ikokkari">Ilkka Kokkarinen</a></i></p>
